autocorrect==2.6.1
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
fonttools==4.29.1
gunicorn==20.1.0
joblib==1.1.0
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.2
packaging==21.3
Pillow==9.0.1
platformdirs==2.5.1
pyparsing==3.0.7
python-dateutil==2.8.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
threadpoolctl==3.1.0
virtualenv==20.13.1
Flask==2.1.2
keras==2.8.0
nltk==3.7
tensorflow==2.8.0